*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins";
}
:root { /*etiqueta raiz para definir variables*/


    --tono: 250;
    --complemento: 390;

    --color-primario: hsla(var(--tono), 100%, 50%, 1);
    --color-primario-medio: hsla(var(--tono),100%, 85%, 1);
    --color-primario-claro: hsla(var(--tono),100%, 95%, 1);
    --color-primario-oscuro: hsla(var(--tono), 100%, 15%, 1);
    --color-primario-oscuro-medio: hsla(var(--tono), 90%, 50%, 1);
    
    --color-complemento: hsla(var(--complemento), 100%, 30%, 1);

}


h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins";
}

ul {
    list-style: none;
}


/* Estilos generales */
body {
    padding: 1rem;
    justify-content: center;  
}


.header {
    background-color: var(--color-primario-oscuro-medio);
    text-align: center;
    width: 100%;
    min-width: max-content;
    padding-top: 30px;
    border-radius: 20px 20px 0px 0px;
}


.header__h1 {
    font-size: 1.2rem;
    margin: 0;
    color: white;
}

.header__tags {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 9px;
    padding: 8px;
}

.header__tags--tag {
    background-color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

.main {
    background-color: var(--color-primario-oscuro);
    padding: 12px;
    
}

.presentation {
    padding: 15px;
    background-color: var(--color-primario-medio);
    justify-content: space-between;
    gap: 2rem;
    border-radius: 12px 12px 12px 12px;
    
}

.presentation__video {
    max-width: auto;
    margin-bottom: 10px;
      
}

.presentation__video video{
    width: 100%;
    height: auto;
}

.presentation__video iframe{
    width: 100%;
    aspect-ratio: 16/9;
    height: fit-content;
}

.presentation__info {
    text-align: left;
    
}

.presentation__h2, .presentation__h3, .presentation__p {
    margin: 8px 12px;
}

.presentation__cta {
    margin-top: 15px;
}

.presentation__a {
    display: inline-block;
    background-color: var(--color-primario-oscuro-medio);
    color: white;
    width: 100%;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

    
}

.sources {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.sources__h3 {
    margin: 10px 10px;
    text-align: center;
    color: white;
}

.sources__tags {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
}

.sources__tags--span {
    background-color: var(--color-primario-medio);
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
}

.sources__tags--li {
    background-color: var(--color-primario-medio);
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;

}

.project {
    gap: 10px;
    
}

.project__img {
    display: flex;
    width: 100%;
    padding: 10px;
    
    
}

.project__img img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.aside {
    background-color: var(--color-primario-oscuro);
    padding: 20px;
    border-radius: 0px 0px 20px 20px;

    .presentation__info {
        text-align: left;
        color: white;
        
    }
}


@media screen and (min-width:1024px) {

    body{
        display: grid;
        grid-template-columns: 70% 30%;
        

        .header {
            grid-column: 1/3;

            .header__h1 {
                font-size: 3rem;
                margin: 0;
                color: white;
            }

            .header__tags {
                display: flex;
                justify-content: center;
                margin-top: 10px;
                font-size: 16px;
                font-weight: 500;
                padding: 8px;
            }
        }

        .main {
            gap: 8px;
    
            .presentation__video {
                border-radius: 0px 0px 20px 20px;

                .presentation video iframe{
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 16/9;
                }
            }

            .presentation__info {
                display: none;
                  
            }


            .sources__tags {
                display: flex;
                justify-content: center;
                padding-bottom: 20px;
                font-size: 20px;
                font-weight: 500;

                :hover{
                    
                    border-radius: 30px;
                    background-color: var(--color-primario);
                }

                
            }

            

        }   

        .aside{
            display: block;
            background-color: var(--color-primario-claro);

            .presentation__info {
                color: black;

                :hover{
                    color: black;
                    border-radius:20px;
                    background-color: var(--color-primario-claro);
                }
  
            }

            .presentation__info.presentation__aside {
                position: sticky;
                top: 16px;
            }

        }

    }
    
}



